*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html {font-size : 16px

}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f8fd;
    color: var(--text);
}

.header {
    max-width: 860px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color:#f02121;
}

:root {
    --text :#f02121;
}

.opciones-nav{
    display: flex;
    background-color:rgb(223, 213, 194);
    border: 1px solid rgb(13, 13, 14);
    border-radius: 10px;
    padding: 0.25rem; 
    max-width: 520px;
    margin: 0 auto 1.5rem;

}
