*{
    padding: 0%;
<<<<<<< HEAD
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --text  : rgb(71, 69, 73);
 }


html{
    font-size: 16px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 223, 238);
    color: rgb(21, 22, 22);
    color: var(--text);
}

.header{
    max-width: 860px;
    margin :0 auto;
=======
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html {font-size : 16px

}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f8fd;
    color: var(--text);
}

.header {
    max-width: 860px;
    margin: 0 auto;
>>>>>>> fb9c3518072403bf6e63bb95a99bbb9ffd6db5a5
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
<<<<<<< HEAD


h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text);

}


.opciones-nav {
    display: flex;
    background-color: azure;
    border: 1px solid rgb(109, 95, 95) ;
    border-radius: 10px;
    padding: 0.25rem;
    max-width: 520px;
    margin: 0 auto 1.5rem;
}











































































































































=======
h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color:#f02121;
}

:root {
    --text :#f02121;
}

.opciones-nav{
    display: flex;
    background-color:rgb(223, 213, 194);
    border: 1px solid rgb(13, 13, 14);
    border-radius: 10px;
    padding: 0.25rem; 
    max-width: 520px;
    margin: 0 auto 1.5rem;

}
>>>>>>> fb9c3518072403bf6e63bb95a99bbb9ffd6db5a5
